.dashboard{
    display:flex;
    min-height:100vh;
}


.content{
    flex:1;
    padding:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.dropdown-content svg{
    width:24px;
    height:24px;
    flex-shrink: 0;
    fill:currentColor;
}
/* Carte */

.task-card{
    width:90%;
    max-width:900px;
    border-radius:18px;
    padding:25px 35px;
    margin-bottom:30px;
    box-sizing:border-box;
    box-shadow:0px 8px 20px rgba(0,0,0,0.15);
    transition:0.1s;
}
.toolbar .dropdown-content{
    background:rgba(201, 200, 200, 0.692);
}
.toolbar svg{
    width:24px;
    height:24px;
    flex-shrink: 0;
    fill:currentColor;
}
.toolbar button{
    display:flex;
    align-items: center;
    gap: 7px;
    padding: 14px 18px;
}
 /* Couleurs */

#high{
    background:#ff6969;
}
#high .dropdown-content{
    background: #fa8c8c;
}
#medium{
    background:#fcb228;
    color:black;
 }
#medium .dropdown-content{
    background:#f3c266;
    color:black;
}
#low, #low .dropdown-content{
    background:#2ecc71;
}
#low .dropdown-content{
    background:#4cff96;
}

.task-card:hover{
    transform:translateY(-8px);
}


/* En-tête de la carte */

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.card-header p{
    margin:8px 0;
    font-size:16px;
}


/* Ligne */

.task-card hr{
    margin:8px 0;
    border:none;
    border-top:1px solid rgba(0,0,0,0.2);
}


/* Nom de la tâche */

.task-card h2{
    margin:0;
    font-size:36px;
}


/* Badges */

.priority{
    padding:8px 18px;
    border-radius:30px;
    color:white;
    font-weight:bold;
}

/* menu task button */
.dropdown{
    font-size: 20px;
    position:relative;
    display:inline-block;
}

.menuu{
    background:none;
    border:none;
    font-size:30px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:absolute;
    right:0;
    background:white;
    min-width:150px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    overflow:hidden;
}

.dropdown-content a{
    display:flex;
    align-items: center;
    gap: 15px;
    padding:14px 18px;
    text-decoration:none;
    color:black;
}

.dropdown-content a:hover{
    background:#f3f3f3;
}
/* tool bar */
.toolbar{
    width:56%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}
.toolbar button{
    font-size:25px;
}
.toolbar h3{
    font-size:30px;
    margin-bottom:10px
}