<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/sidebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nav.css')}}">
    {% block head %}{% endblock head%}
    <style>
        body{
            margin:0;
            font-family:Arial, Helvetica, sans-serif;
            background:#f7f7f7;
        }
    </style>
    {% if title%}
    <title>Horizons AI - {{title}}</title>
    {% else %}
    <title>Horizons AI</title>
    {% endif %}
</head>


<body>
    {% block content%}
        {% block nav %}
            <nav class="navigation">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="#">ℹ️ About</a>
            </nav>
        {% endblock nav %}
        {% block sidebar %}
            <aside class="sidebar">
                <a href="{{ url_for('add_task') }}" class="add">+ Add a task</a>

                <a href="{{url_for('dashboard')}}" class="active">📋 Tasks</a>
                
                <a href="#">🤖 AI Chat</a>

                <a href="{{url_for('logout')}}">🚪 Log out</a>

            </aside>
        {% endblock sidebar%}

    {% endblock content%}
</body>
</html>