{% extends "layout.html" %}
{% block head%}

<style>
     div {
        display:flex; 
        justify-content: center; 
        align-items:center; 
        gap: 10px;
     }
     #signing_container {
        flex-direction:column;
     }
     input{
             text-align: center;
             width: 500px;
             height: 30px;
             font-size: 16px;
             padding: 5px;
             border-radius:12px;
             border-color: black;
             box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

        }
        h1,h2{
         text-align: center;
        }
        a{
         text-decoration: none;
        }
</style>

{% endblock head %}


{% block content %}
{% block nav %} {{super()}} {% endblock nav %}
<h1>Sign up to organize your tasks intelligently</h1>
<form action="{{ url_for('sign_up') }}" method="POST">
<div id="signing_container" style="display:flex; justify-content: center; align-items:center; flex-direction:column; gap: 10px;">
    <input type="text" name="username" placeholder="User name" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="verifypassword" placeholder="Verify Password" required>
    <input type="submit"  value="Submit" >
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {%endif%}
    <a href="{{ url_for('log_in') }}">Already have an account?</a>
</div>
</form>
{%endblock%}